*.docx
*.md
*.log
*.json
.gitignore
Dockerfile
docker-compose.yml

backend/node_modules/
backend/docs/
backend/src/
backend/tsconfig.json

frontend/node_modules/
frontend/src/
frontend/tsconfig.json
frontend/tslint.json